@import 'public/utilities/variables';

.crating_Nav-backImg {
  position: absolute;
  width: 23px;

  top: 4px;
  right: -2px;

  .cls-1 {
    fill: black;
  }
  .cls-2 {
    fill: white;
  }
  .cls-3 {
    fill: white;
  }
}

.crating_Nav-backImg_big {
  position: fixed;
  width: 30px;

  top: 5px;
  right: 25px;

  .cls-1 {
    fill: black;
  }
  .cls-2 {
    fill: white;
  }
  .cls-3 {
    fill: white;
  }
}

.creating_Nav-list {
  display: flex;
  justify-content: center;
  font-size: 16px;

  position: relative;

  overflow-x: hidden;
  margin: auto;
  padding-top: 15px;

  height: 42px;

  width: 100%;
}

.creating_Nav-views {
  margin-right: 1.5px;
  padding: 0 38% 0 30%;
}

.creating_Nav-view {
  display: flex;
  justify-content: center;
  overflow: hidden;

  .active {
    padding: 0 2%;
    margin: 0 20px;
    font-size: 16px;

    text-decoration: none;

    color: $gray_100;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
  }

  .selected:after {
    border-radius: 10px;
    margin-top: 1%;
    display: block;
    position: relative;
    content: '';
    transition: none;

    background-color: $gray_100;
    width: 100%;
    left: 0%;
    height: 3px;
  }
}
