@import 'public/utilities/variables';

.creating_Nav {
  user-select: none;
  position: relative;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  overflow: hidden;
  z-index: 3;
}

.creating_Nav-Container {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  font-size: 16px;
  // width: 100%;

  overflow: hidden;
}

.creating_NavEl-Container {
  transition: 0.5s ease-in-out;

  padding: 0 10px;
}

.creating_NavEl {
  // display: flex;
  // justify-content: center;
  font-size: 16px;
  // width: 50px;
  // padding: 5px 10px 5px;
  text-decoration: none;

  color: $gray_100;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.creating_NavElAct {
  display: flex;
  justify-content: center;
  font-size: 16px;
  // width: 50px;
  // padding: 5px 10px 5px;
  text-decoration: none;

  color: $gray_100;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.creating_NavEl-Container:after {
  background-color: $gray_900;
  border-radius: 10px;
  margin-top: 1%;
  display: block;
  position: relative;
  content: '';
  height: 4px;
  width: 0%;
  left: 50%;
  transition: none;
}

.creating_NavEl-Container:hover::after {
  transition: 0.3s ease-in-out;
  width: 100%;
  left: 0%;
}

.creating_NavEl-Container.active:after {
  background-color: $gray_100;
  width: 100%;
  left: 0%;
  height: 3px;
}

.crating_Nav-backImg {
  position: absolute;
  width: 25px;

  top: 10px;
  right: 10px;

  .cls-1 {
    fill: $gray_900;
  }
}

.creating_Nav-list {
  position: relative;

  overflow-x: hidden;
  margin: auto;
  margin-top: 10px;
  width: 80vw;

  .slick-track {
    display: flex;
    .slick-slide {
      // padding: 0 50px;
    }
  }
}

.selected {
  font-size: 28px;

  text-decoration: none;

  color: $gray_100;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.active {
  font-size: 16px;

  text-decoration: none;

  color: $gray_100;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;

  text-align: center;
}
