@import 'public/utilities/variables';

.creating_Name-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25%;
}

.creating_Name-inputName {
  transition: 0.25s ease-in-out;

  width: 75%;
  height: 70px;
  background-color: $red;
  font-size: 45px;
  border: none;

  color: $gray_100;
  padding: 10px;

  border-radius: 5px;
}

.creating_Name-inputName:focus {
  outline: none;
  box-shadow: 5px 10px 15px $gray_750;
}

.creating_Name-inputName::placeholder {
  color: $gray_700;
}

.creating_Name-random {
  width: 80px;
  margin-left: 20px;

  .cls-1 {
    fill: $gray_100;
  }
}
