@import 'public/utilities/variables';

html,
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;
  background-color: $gray_900;
  overflow: auto;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  overflow: hidden;

  overflow-y: visible;
  height: 110vh;
  overflow-x: hidden;
}

.joinInnerContainer {
  margin: auto;
  padding: 5% 5% 0% 5%;
  align-items: center;
}

.LogIn {
  display: block;
  height: 380px;

  transition: opacity 0.5s ease, transform 0.5s ease,
    -webkit-transform 0.5s ease;
}

.LogIn-left {
  transform: translateX(-400px);

  opacity: 0;
}

.SignUp {
  position: relative;
  top: -380px;
  height: 380px;

  left: 450px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.SignUp-left {
  transform: translateX(-450px);
  opacity: 1;
}
