.creating_joinOuter-Container {
  height: 100vh;
  width: 100%;
  background-color: #19191a;
  justify-content: center;
}

.creating_joinInner-Container {
  margin: auto;
  padding: 150px 5% 0 5%;
  height: 50vh;
  width: 60vw;
}

.creating_Nav {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
  width: 100%;
  height: 20%;
  background-color: #b92020;
}
.creating_Nav-Container {
  margin: auto;
  display: flex;
  justify-content: center;
}
.creating_NavEl-Container {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);

  transition: 0.25s ease;

  margin-top: 2%;
  padding: 0 10px;
}

.creating_NavEl-Container:hover {
  //TODO clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 65%);

  clip-path: polygon(0 0, 100% 0%, 100% 95%, 0% 75%);
}

.creating_NavEl {
  background-color: #19191a;
  padding: 10px 20px 15px;

  border-radius: 0 10px 0 0;

  font-size: 15px;
  color: #e1e3e6;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
