html,
body {
  overflow: hidden;
}

#root {
  height: 100vh;
}

.charactersOuterContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #19191a;
  justify-content: center;
}

.charactersInnerContainer {
  padding: 150px 5% 0 5%;
  height: 80vh;
  width: 60vw;

  align-items: center;
}

.Characters_create {
  margin: auto;
  margin-bottom: 40px;

  width: 70%;
}

.Character_createContainer {
  display: flex;
  justify-content: center;
  z-index: 3;
}

.Character_createContainer:hover {
  .Characters_createBtn {
    background: #b81717;
    box-shadow: 0 0 25px #b92020;
  }
}

.Characters_createBtn {
  transition: 0.5s ease;
  padding: 0 10px;
  width: 100%;
  z-index: 1;

  background: #b92020;
  border-radius: 5px;

  font-size: 40px;
  text-align: center;
  line-height: 75px;
  color: #e1e3e6;

  cursor: pointer;
}

.Character_Btn {
  position: absolute;
  width: 60vw;
  height: 75px;
  cursor: pointer;
  z-index: 3;
}

.Characters_Dragon {
  position: absolute;
  z-index: 2;

  top: 3%;
  width: 250px;
  .cls-1 {
    fill: white;
  }
}

.Characters_DragonTail {
  position: absolute;
  top: 12%;
  left: 62%;

  width: 350px;
  .cls-1 {
    fill: white;
  }
}

.Characters {
  width: 70%;
  margin: auto;
  height: 65%;
  overflow: auto;

  flex: auto;
}

.Characters::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.Characters::-webkit-scrollbar {
  background-color: #454547af;
  border-radius: 10px;
  width: 12px;
}

.Characters::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.AngelContainer {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 50vh;

  background-color: #b92020;
  clip-path: polygon(100% 25%, 25% 100%, 100% 100%);
}

.Angel {
  transition: 0.5s ease-in-out;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: #19191a;
  clip-path: polygon(100% 32%, 100% 32%, 70% 100%, 70% 100%);
}

.AngelContainer:hover .Angel {
  opacity: 1;
  clip-path: polygon(100% 30%, 100% 100%, 100% 100%, 30% 100%);
}

.Angel_btn {
  border-radius: 30px 0 30px 0;

  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 2% 2% 0;

  font-weight: 600;
  font-size: 60px;
  line-height: 75px;
  color: #e1e3e6;

  cursor: pointer;
}

@media (max-width: 1440px) {
  .charactersInnerContainer {
    width: 70vw;
  }
  .Character_Btn {
    width: 70vw;
  }
}

@media (max-width: 1150px) {
  .charactersInnerContainer {
    width: 80vw;
  }
  .Character_Btn {
    width: 80vw;
  }
}

@media (max-width: 1000px) {
  .charactersInnerContainer {
    width: 90vw;
  }
  .Character_Btn {
    width: 90vw;
  }
}

@media (max-width: 850px) {
  .Characters_createBtn {
    font-size: 35px;
  }
}

@media (max-width: 750px) {
  .Characters_create {
    width: 90%;
  }
  .Characters {
    width: 90%;
  }

  .Characters_DragonTail {
    width: 0px;
  }

  .Characters_createBtn {
    font-size: 30px;
  }

  .Angel_btn {
    top: 60%;

    font-size: 25px;
  }
}

@media (max-width: 640px) {
  .charactersInnerContainer {
    width: 100vw;
  }
  .Characters_create {
    width: 100%;
  }
  .Characters {
    width: 100%;
  }

  .Characters_createBtn {
    font-size: 25px;
  }
}
