html,
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.charactersOuterContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #19191a;
  justify-content: center;
}

.charactersInnerContainer {
  padding: 150px 5% 0 5%;
  height: 80vh;
  width: 60vw;

  align-items: center;
}

.Characters_create {
  margin: auto;
  margin-bottom: 40px;

  width: 70%;
}

.Character_createContainer {
  display: flex;
  justify-content: center;
  z-index: 3;
}

.Characters_createBtn {
  padding: 0 10px;
  width: 100%;
  z-index: 1;

  background: #b92020;
  border-radius: 5px;

  font-size: 40px;
  text-align: center;
  line-height: 75px;
  color: #e1e3e6;

  cursor: pointer;
}

.Character_Btn {
  position: absolute;
  width: 60vw;
  height: 75px;
  cursor: pointer;
  z-index: 3;
}

.Characters_Dragon {
  position: absolute;
  z-index: 2;

  top: 3%;
  width: 250px;
}

.Characters_DragonTail {
  position: absolute;
  top: 12%;
  left: 62%;

  width: 350px;
}

.Characters {
  width: 70%;
  margin: auto;
  height: 65%;
  overflow: auto;

  flex: auto;
}

.Characters::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.Characters::-webkit-scrollbar {
  background-color: #454547af;
  border-radius: 10px;
  width: 12px;
}

.Characters::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.AngelContainer {
  top: 87vh;
  position: absolute;
  overflow: hidden;
  width: 200vw;
  height: 50vh;

  background: #b92020;
  transform: skew(0, -20deg);
}

.Angel {
  display: flex;
  justify-content: center;
  transition: 0.5s;
  opacity: 0;
  position: relative;
  top: 16.5vh;
  overflow: hidden;
  width: 200vw;
  height: 0vh;
  background-color: #19191a;
}

.AngelContainer:hover .Angel {
  top: 4vh;
  opacity: 1;
  height: 25vh;
}

.Angel_btn {
  border-radius: 30px 0 30px 0;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 15%;
  height: 40%;
  top: 10%;
  left: 15%;

  font-size: 40px;
  line-height: 75px;
  color: #e1e3e6;

  cursor: pointer;
}

@media (max-width: 1440px) {
  .charactersInnerContainer {
    width: 70vw;
  }
  .Character_Btn {
    width: 70vw;
  }
}

@media (max-width: 1150px) {
  .charactersInnerContainer {
    width: 80vw;
  }
  .Character_Btn {
    width: 80vw;
  }
}

@media (max-width: 1000px) {
  .charactersInnerContainer {
    width: 90vw;
  }
  .Character_Btn {
    width: 90vw;
  }
}

@media (max-width: 850px) {
  .Characters_createBtn {
    font-size: 35px;
  }
}

@media (max-width: 750px) {
  .Characters_create {
    width: 90%;
  }
  .Characters {
    width: 90%;
  }

  .Characters_DragonTail {
    width: 0px;
  }

  .Characters_createBtn {
    font-size: 30px;
  }

  .Angel_btn {
    font-size: 25px;
  }
}

@media (max-width: 640px) {
  .charactersInnerContainer {
    width: 100vw;
  }
  .Characters_create {
    width: 100%;
  }
  .Characters {
    width: 100%;
  }

  .Characters_createBtn {
    font-size: 25px;
  }
}
