html,
body {
  overflow: hidden;
}

#root {
  height: 100vh;
}

.charactersOuterContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #19191a;
  justify-content: center;
}

.character_logoutBtn {
  display: flex;
  justify-content: center;

  transition: 0.5s ease;
  position: absolute;
  width: 10vh;
  height: 10vh;
  background-color: #b92020;
  right: 5vh;
  bottom: -7vh;
  border-radius: 50%;
}
.character_logoutBtn:hover {
  width: 15vh;
  height: 15vh;
  right: 2.5vh;

  .character_logoutBtn-Text {
    font-size: 25px;
    opacity: 1;
    width: 100%;
  }
}
.character_logoutBtn-Text {
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 0;

  font-size: 0px;
  text-align: center;
  line-height: 70px;
  color: #e1e3e6;

  cursor: pointer;
}

.charactersInnerContainer {
  padding: 70px 5% 0 5%;
  height: 80vh;
  width: 60vw;

  align-items: center;
}

.Characters_create {
  margin: auto;
  margin-bottom: 40px;

  width: 70%;
}

.Character_createContainer {
  display: flex;
  justify-content: center;
  z-index: 3;
}

.Character_createContainer:hover {
  .Characters_createBtn {
    box-shadow: 0 0 25px #b92020;
  }
}

.Characters_createBtn {
  transition: box-shadow 0.5s ease;
  padding: 0 10px;
  width: 100%;
  z-index: 1;

  background: #b92020;

  border-radius: 5px;

  font-size: calc((100vw - 480px) / (1280 - 480) * (24 - 16) + 30px);
  text-align: center;
  line-height: 75px;
  color: #e1e3e6;

  cursor: pointer;
}

.Character_Btn {
  position: absolute;
  width: 35vw;
  height: 75px;
  cursor: pointer;
  z-index: 3;
}

.Characters_Dragon {
  position: absolute;
  z-index: 2;

  top: 4.5%;
  width: 250px;
  .cls-1 {
    fill: white;
  }
}

.Characters_DragonTail {
  position: absolute;
  top: 12%;
  left: 62%;

  width: 350px;
  .cls-1 {
    fill: white;
  }
}

.Characters {
  width: 70%;
  margin: auto;
  height: 65%;
  overflow: auto;

  flex: auto;
}

.Characters::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.Characters::-webkit-scrollbar {
  background-color: #454547af;
  border-radius: 10px;
  width: 12px;
}

.Characters::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

@media (max-width: 1440px) {
  .charactersInnerContainer {
    width: 70vw;
  }
  .Character_Btn {
    width: 45vw;
  }
}

@media (max-width: 1150px) {
  .charactersInnerContainer {
    width: 80vw;
  }
  .Character_Btn {
    width: 55vw;
  }

  .Characters_Dragon {
    top: 3%;
  }
}

@media (max-width: 1000px) {
  .charactersInnerContainer {
    width: 90vw;
  }
  .Character_Btn {
    width: 65vw;
  }

  .Characters_Dragon {
    top: 2%;
  }
}

@media (max-width: 750px) {
  .Characters_create {
    width: 90%;
  }
  .Characters {
    width: 90%;
  }

  .Characters_Dragon {
    top: 1.5%;
  }

  .Characters_DragonTail {
    width: 0px;
  }

  .character_logoutBtn:hover {
    .character_logoutBtn-Text {
      font-size: 20px;
    }
  }
}

@media (max-width: 640px) {
  .charactersInnerContainer {
    width: 100vw;
  }
  .Characters_create {
    width: 100%;
  }
  .Characters {
    width: 100%;
  }
}
