/*TODO Провести рефакторинг! */

.joinInput {
  color: #1b1b1b;
  font-size: 30px;
  display: block;
  outline: 0;
  padding: 15px 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0 15px 0 15px;
}

.joinInput:hover {
  border-color: #66afe9;
  box-shadow: inset 0 0.5px 10.5px rgba(0, 0, 0, 0.075),
    0 0 4px rgba(102, 175, 233, 0.6);
}

.joinInput:focus {
  border-color: #66afe9;
  box-shadow: inset 0 0.5px 10.5px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.joinInput_error {
  color: #1b1b1b;

  font-size: 30px;
  display: block;
  outline: 0;
  padding: 15px 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0 15px 0 15px;
  border-color: #ff4141;
  box-shadow: inset 0 0.5px 10.5px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(252, 44, 44, 0.6);
}

.heading {
  margin: 0;
  color: white;
  font-size: 50px;
}
@keyframes line {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.heading_b {
  animation: line 1s ease-in;
  margin-top: 0.3em;
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid white;
}

.button {
  font-size: 30px;
  color: #e1e3e6 !important;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 20px;
  background: #de2424;
  border-radius: 0 5px 0 5px;
  display: inline-block;
  border: none;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

.button:focus {
  outline: 0;
}

.some-form__line {
  border-radius: 0px;
  display: block;
  position: relative;
  margin-bottom: 40px;
}
