@media (max-width: 768px) {
  .creating_Race-RaceEl-Container {
    width: 100%;
  }

  .creating_Race-RaceEl_Dropdown-Container {
    width: 100%;
    margin-left: 20px;
  }

  .creating_Race-container {
    font-size: 22px;
  }
}
