@import 'public/utilities/variables';

$fontsize: 30px;

.creating_Race-races-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  user-select: none;
  width: 85%;
}

.creating_Race-RaceEl-Container {
  width: 411px;

  position: relative;
  margin-bottom: 31px;
}

.creating_Race-RaceEl {
  transition: 0.6s ease-in-out;
  transition-delay: 0s;

  position: relative;

  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    0 100%,
    0 0,
    100% 0,
    100% 100%,
    0 100%
  );

  height: 2.3em;

  padding-left: 20px;
  background: $gray_300;
  border-radius: 0 20px 0 20px;

  font-weight: 400;

  color: $gray_950;
  line-height: 2.3em;

  cursor: pointer;
}

.creating_Race-RaceEl2 {
  transition: 0.6s ease-in-out;
  transition-delay: 0s;

  width: 100%;
  position: absolute;
  top: 0;
  background-color: #aaaeb381;
  padding-left: 15px;
  height: 2.3em;
  padding-left: 20px;
  border-radius: 0 20px 0 20px;

  font-weight: 400;
  line-height: 2.3em;
  cursor: pointer;
  color: $gray_100;
}

.creating_Race-RaceEl-Container:hover {
  .creating_Race-RaceEl {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      0% 100%,
      0 100%,
      100% 100%,
      100% 0,
      0 0
    );
  }

  .creating_Race-RaceEl_Dropdown-Container {
    max-height: 157px;
    padding-top: 10px;
    transition-delay: 0.3s;
  }

  .creating_Race-RaceEl2 {
    transform: translateX(5px);
  }
}

.creating_Race-RaceEl_race {
  font-weight: 400;
  line-height: 1.6em;
}

.creating_Race-RaceEl_subrace {
  font-size: 14px;
  line-height: 0.6em;
}

.creating_Race-RaceEl {
  .creating_Race-RaceEl_race {
    color: $gray_950;
  }
  .creating_Race-RaceEl_subrace {
    color: $gray_750;
  }
}

.creating_Race-RaceEl2 {
  .creating_Race-RaceEl_race {
    color: $gray_100;
  }
  .creating_Race-RaceEl_subrace {
    color: $gray_200;
  }
}
