html,
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #19191a;
}

.joinInnerContainer {
  width: 30%;
  margin: 36px auto;
}

.joinInput {
  display: block;
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
}

.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
  margin-top: 2px;
  margin-left: 5px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}

.some-form__hint {
  z-index: auto;
  opacity: 1;
  position: absolute;
  left: 0;
  margin-top: -6px;
  padding: 0 12px;
  width: 100%;
  background: #f45a57;
  color: #fff;
  font-size: 12px;
  line-height: 1.333333;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.some-form__line {
  display: block;
  position: relative;
  margin-bottom: 15px;
}

.some-form {
  width: 30%;
  margin: 36px auto;
}
