.Character_ul {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.Character_ul li {
  display: Inline-block;
}

.Character_ul .Character_li {
  box-shadow: 0 0 0 rgb(163, 40, 40);

  transition: 0.4s ease;

  border-radius: 50%;
  height: 62px;
  margin-left: 5%;
  margin-right: 2%;
}

.Character_ul .Character_li:hover {
  box-shadow: 0 5px 15px rgb(163, 40, 40);
}

.Character_ul .Character_li:active {
  box-shadow: 0 7px 25px rgb(255, 0, 0);
}

.Character {
  color: #1b1b1b;
  background-color: #c4c4c4;

  box-shadow: 0 0 0 rgb(163, 40, 40);

  width: 80%;

  transition: 0.4s ease;

  font-size: 30px;
  outline: 0;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 0 15px 0 15px;
  cursor: pointer;
}

.Character:hover {
  box-shadow: 5px 5px 5px rgb(163, 40, 40);

  background-color: #cccccc;
}

@media (max-width: 750px) {
  .Character {
    font-size: 20px;
  }
}

.character_image {
  height: 100%;
}
